<div class="wrapper">
    <mat-card>
        <img height="100%" width="600px" mat-card-image src="/assets/fireburger.jpg" alt="Logo" />
        <mat-card-actions>
            <button mat-fab extended color="primary" routerLink="/burger-maker">
                Make your burger now!
            </button>
        </mat-card-actions>
    </mat-card>

    <h1>
        Don't know what ingredients to choose? Get inspired by out most popular
        burgers...
    </h1>

    <app-burgers-cards />
</div>